alias la="ls -lah"
alias backup="touch ./backup.tar & tar -czvf backup.tar.gz --exclude=backup.tar ."
alias backuproot="touch ./backup.tar & tar -czvf backup.tar.gz --exclude=backup.tar --exclude=/dev --exclude=/dev --exclude=/smb --exclude=/mnt /"
alias backuptossd="rsync -aAXHvS --exclude='/dev/*' --exclude='/proc/*' --exclude='/sys/*' --exclude='/tmp/*' --exclude='/run/*' --exclude='/mnt/*' --exclude='/media/*' --exclude='/lost+found/' --exclude='/smb/*' --exclude='/etc/fstab' --exclude='/boot/EFI' --exclude='/boot/loader' --exclude='/home/lain/syncthing' / /mnt/"
alias restorefromssd="rsync -aAXHv --exclude='/dev' --exclude='/proc' --exclude='/sys' --exclude='/tmp' --exclude='/run' --exclude='/mnt' --exclude='/media' --exclude='/lost+found' --exclude='/smb' --exclude='/etc/fstab' --exclude='/boot' --exclude='/boot/loader' --exclude='/home/lain/.cache/' --exclude='/home/lain/syncthing' /mnt/ /"
alias restore="tar -xvf ./backup.tar"
alias ascii="ascii-image-converter -fcC"
alias image="kitten icat $1"
alias files="exec pcmanfm"
alias update="sudo pacman -Syuu --noconfirm & sudo -u lain yay -Syuu --noconfirm"
alias cryptvol="veracrypt /home/lain/stuff/CryptVol /cryptvol"
alias cryptvolu="sudo veracrypt --text --dismount"
alias assistant="python /home/lain/stuff/assistant.py"
alias vnc="x11vnc -display :0 -nodamage &"
alias notes="cd $HOME/Obsidian/Personal/"
alias x="xclip -selection clipboard"
alias na="nmap -T4 -p-"
